body {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    background-color: rgb(0 0 0);
    color: rgb(254 249 195);
}
a {
    color: rgb(37 99 235);
}
a:focus, a:hover {
    color: rgb(75 85 99);
}

/* Alerts and form errors */
.alert {
    margin-bottom: 0px;
    border-radius: 0.25rem;
    padding: 0.5rem;
}
.alert-info {
    background-color: rgb(254 240 138);
    color: rgb(29 78 216);
}
.alert-warning {
    background-color: rgb(254 240 138);
    color: rgb(126 34 206);
}
.alert-danger {
    background-color: rgb(254 240 138);
    color: rgb(185 28 28);
}
.alert-info:empty {
    display: none;
}
.alert-warning:empty {
    display: none;
}
.alert-danger:empty {
    display: none;
}
.button {
    display: inline-block;
    flex: none;
    appearance: none;
    white-space: nowrap;
    border-radius: 0.25rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    color: rgb(147 51 234);
}
.button:focus, .button:hover {
    color: rgb(75 85 99);
}
.button[disabled] {
    pointer-events: none;
    cursor: default;
    opacity: 0.5;
}
button[disabled] {
    pointer-events: none;
    cursor: default;
    opacity: 0.5;
}
.button.disabled {
    pointer-events: none;
    cursor: default;
    opacity: 0.5;
}
/* progress bar */
.progress-bar {
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 50;
    height: 0.25rem;
    background-color: rgb(67 56 202);
    transition:
        width 300ms ease-out,
        opacity 150ms 150ms ease-in;
    transform: translate3d(0, 0, 0);
}
.viewport {
    position: relative;
}
.viewport .content .header {
    margin-top: 0.25rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.header .topic {
    flex: none;
    overflow: clip;
    white-space: nowrap;
    padding: 0.5rem;
    text-align: left;
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 700;
    max-width: 12rem;
}
.header .spacer {
    display: inline-block;
    flex-grow: 1;
}
.header .stamina-box {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-top: 1rem;
    display: inline-block;
    height: 0.5rem;
    width: 4rem;
    flex: none;
    border-width: 1px;
    border-color: rgb(254 249 195);
    background-color: rgb(220 38 38);
}
.header .stamina-box .stamina {
    height: 100%;
    background-color: rgb(0 0 0);
}
.header .nick {
    flex: none;
    overflow: clip;
    white-space: nowrap;
    padding: 0.5rem;
    text-align: right;
    max-width: 7rem;
}
.header .clicked {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    background-color: rgb(229 231 235);
    color: rgb(0 0 0);
}
.viewport .content .hero {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 1.125rem;
    line-height: 1.75rem;
}
.hero em {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
    color: rgb(254 252 232);
}
.hero img {
    display: block;
}
.content .info {
    text-align: center;
    font-size: 1.125rem;
    line-height: 1.75rem;
}
.content .list-container {
    display: flex;
    justify-content: center;
}
.content ul.room-list {
    display: inline;
}
.content ul.room-list li {
    display: inline;
    white-space: nowrap;
    color: rgb(254 240 138);
}
.viewport .content form {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
}
form input[type="text"] {
    width: 20rem;
    border-radius: 0.25rem;
    border-width: 1px;
    line-height: 1.625;
    color: rgb(0 0 0);
}
form input[type="number"] {
    width: 3rem;
    border-radius: 0.25rem;
    border-width: 1px;
    line-height: 1.625;
    color: rgb(0 0 0);
}
form .field {
    margin-bottom: 0.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
form .line {
    margin-bottom: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
form hr {
    margin-bottom: 0.5rem;
    border-color: rgb(229 231 235);
}
form label {
    margin-right: 0.5rem;
    flex: none;
}
form label .focus {
    font-weight: 700;
    font-style: italic;
}
form .footnote {
    display: flex;
    justify-content: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: rgb(55 65 81);
}
form .error {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: rgb(185 28 28);
}
.viewport .content .toolbar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}
.toolbar .button {
    flex: none;
    cursor: pointer;
    background-color: rgb(147 51 234);
    color: rgb(255 255 255);
}
.toolbar .button-other {
    background-color: rgb(75 85 99);
}
.viewport .content .roster-panel {
    margin-bottom: 0.5rem;
}
.roster-panel ul.roster {
    display: inline;
}
.roster-panel ul.roster li {
    display: inline;
    white-space: nowrap;
    color: rgb(254 240 138);
}
.roster-panel ul.roster li.me {
    color: rgb(187 247 208);
}
.roster-panel ul.roster li::before {
    color: rgb(156 163 175);
    content: "@";
}
.viewport .content .panel {
    display: flex;
    flex-direction: column;
    background-color: rgb(229 231 235);
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    color: rgb(0 0 0);
}
.viewport .content .panel[hidden] {
    display: none;
}
.panel h3 {
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    line-height: 2rem;
    line-height: 1.625;
}
.panel h4 {
    margin-bottom: 0.25rem;
    line-height: 1.625;
}
.panel hr {
    border-top-width: 2px;
    border-color: rgb(156 163 175);
}
.panel .code {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
.write form {
    padding: 0px;
}
.write form .input-box {
    margin-bottom: 0.5rem;
    height: 6rem;
    width: 100%;
    color: rgb(0 0 0);
}
.write form .input-box .compose {
    height: 100%;
    width: 100%;
    resize: none;
}
.write .image-container {
    display: flex;
    flex-direction: column;
}
.write .image-container .input-box {
    margin-bottom: 0.5rem;
    display: flex;
    height: 6rem;
    width: 100%;
    flex-direction: column;
    place-content: center;
    background-color: rgb(229 231 235);
    color: rgb(0 0 0);
}
.write .image-container .input-box .progress {
    height: 100%;
    background-color: rgb(67 56 202);
}
.write .image-container .input-box img {
    height: auto;
    max-height: 100%;
    width: auto;
    max-width: 100%;
    object-fit: scale-down;
}
.write .image-container .input-box label {
    display: flex;
    height: 100%;
    flex-direction: column;
    place-content: center;
    text-align: center;
}
.write .image-container .input-box .notice {
    display: flex;
    place-content: center;
}
.write .image-container .input-box input[type=file] {
    display: none;
}
.viewport .content .transcript {
    display: flex;
    flex-direction: column;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.transcript .message {
    margin-bottom: 0.5rem;
    border-radius: 0.25rem;
    padding: 0.25rem;
    color: rgb(0 0 0);
}
.transcript .message .meta {
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: rgb(107 114 128);
}
.transcript .message .card {
    display: flow-root;
    background-color: rgb(255 255 255);
}
.message .card .thumbnail {
    display: flex;
    justify-content: center;
}
.card .thumbnail img {
    max-height: 20rem;
    width: auto;
    max-width: 100%;
}
.card .title {
    margin-bottom: 0.5rem;
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 700;
    line-height: 1.25;
}
.card .url {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    padding-top: 0.5rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    line-height: 1.25;
}
.card .site {
    white-space: nowrap;
    color: rgb(156 163 175);
}
.message .content h1 {
    margin-bottom: 0.25rem;
    font-size: 1.25rem;
    line-height: 1.75rem;
    line-height: 1.625;
}
.message .content h2 {
    margin-bottom: 0.25rem;
    font-size: 1.125rem;
    line-height: 1.75rem;
    line-height: 1.625;
}
.message .content p {
    margin-bottom: 0.5rem;
}
.message .content ol {
    margin-bottom: 0.5rem;
    list-style-position: inside;
    list-style-type: decimal;
    padding-left: 0.5rem;
}
.message .content ul {
    margin-bottom: 0.5rem;
    list-style-position: inside;
    list-style-type: disc;
    padding-left: 0.5rem;
}
.message .content table {
    margin-bottom: 0.5rem;
    border-collapse: collapse;
}
.message .content blockquote {
    margin-bottom: 0.5rem;
    border-left-width: 4px;
    border-color: rgb(156 163 175);
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.message .content pre {
    margin-bottom: 0.5rem;
    border-left-width: 4px;
    border-color: rgb(168 85 247);
    background-color: rgb(243 244 246);
    padding: 0.5rem;
}
.message .content pre > code {
    white-space: pre;
}
.message .content code {
    white-space: nowrap;
    background-color: rgb(243 244 246);
}
.message .content dd, .message .content dt, .message .content li {
    margin-bottom: 0.25rem;
}
.message .content a.attachment {
    display: block;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-style: italic;
    color: rgb(190 18 60);
}
.message .content .hash-tag {
    color: rgb(126 34 206);
}
.message .content .mention-tag {
    font-weight: 700;
}
.transcript .user_message {
    background-color: rgb(254 240 138);
}
.transcript .self_message {
    background-color: rgb(187 247 208);
}
.transcript .private_message {
    background-color: rgb(254 205 211);
}
.transcript .system_message {
    background-color: rgb(229 231 235);
}
.viewport .footer {
    display: flex;
    padding: 0.5rem;
    text-align: center;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: rgb(55 65 81);
}
.viewport .footer .links {
    width: 50%;
    text-align: left;
}
.viewport .footer .copyright {
    width: 50%;
    text-align: right;
}
@media (min-width: 768px) {
    body {
	margin-left: 0px;
	margin-right: 0px;
    }
    .viewport {
	margin-left: auto;
	margin-right: auto;
    }
    .viewport {
	max-width: 768px;
    }
    .transcript .card {
	padding-left: 0.5rem;
    }
    .card .thumbnail {
	float: right;
    }
    .card .thumbnail {
	margin-left: 0.5rem;
    }
    .card .headline {
	margin-top: 0.5rem;
    }
    .card .headline {
	margin-bottom: 0.25rem;
    }
}
@media (min-width: 1024px) {
    .viewport {
	max-width: 1024px;
    }
}
@media (min-width: 1280px) {
    .viewport {
	max-width: 1280px;
    }
}
