@tailwind base;

@tailwind components;

@tailwind utilities;

@layer base {
    body {
        @apply mx-1 bg-black text-yellow-100;
    }
    a {
        @apply text-blue-600;
    }
    a:focus, a:hover {
        @apply text-gray-600;
    }
    span {
        @apply whitespace-nowrap;
    }
    @screen md {
        body {
            @apply mx-0;
        }
    }
}

@layer components {
    /* Alerts and form errors */
    .alert {
	@apply p-2 rounded mb-0;
    }
    .alert-info {
        @apply bg-yellow-200 text-blue-700;
    }
    .alert-warning {
        @apply bg-yellow-200 text-purple-700;
    }
    .alert-danger {
        @apply bg-yellow-200 text-red-700;
    }
    .alert-info:empty {
        @apply hidden;
    }
    .alert-warning:empty {
        @apply hidden;
    }
    .alert-danger:empty {
        @apply hidden;
    }
    .button {
        @apply flex-none px-6 py-1 text-purple-600 inline-block rounded appearance-none
        font-bold whitespace-nowrap text-center uppercase;
    }
    .button:focus, .button:hover {
        @apply text-gray-600;
    }
    .button[disabled] {
        @apply pointer-events-none cursor-default opacity-50;
    }
    button[disabled] {
        @apply pointer-events-none cursor-default opacity-50;
    }
    .button.disabled {
        @apply pointer-events-none cursor-default opacity-50;
    }
    /* progress bar */
    .progress-bar {
	@apply fixed left-0 top-0 h-1 bg-indigo-700 z-50;
	transition:
            width 300ms ease-out,
            opacity 150ms 150ms ease-in;
	transform: translate3d(0, 0, 0);
    }
    .viewport {
	@apply relative;
	.content {
	    .header {
		@apply flex flex-row mt-1 justify-between;
		.topic {
		    @apply flex-none overflow-clip text-lg font-bold text-left whitespace-nowrap p-2;
		    max-width: 12rem;
		}
		.spacer {
		    @apply inline-block flex-grow;
		}
		.stamina-box {
		    @apply flex-none mx-2 mt-4 border border-yellow-100 bg-red-600 h-2 w-16 inline-block;
		    .stamina {
			@apply bg-black h-full;
		    }
		}
		.nick {
		    @apply flex-none overflow-clip text-right whitespace-nowrap p-2;
		    max-width: 7rem;
		}
		.clicked {
		    @apply rounded-t bg-gray-200 text-black;
		}
	    }
	    .hero {
		@apply flex flex-row justify-center;
		img {
		    @apply block;
		}
	    }
	    .info {
		@apply text-lg text-center;
	    }
	    form {
		@apply p-2 flex flex-col;
                input[type="text"] {
		    @apply w-80 leading-relaxed border rounded text-black;
                }
		.field {
		    @apply mb-2 flex flex-row flex-wrap justify-center;
		}
		hr {
		    @apply mb-2 border-gray-200;
		}
                label {
                    @apply flex-none mr-2;
		    .focus {
			@apply font-bold italic;
		    }
                }
		.footnote {
		    @apply text-sm text-gray-700 py-2 flex justify-center;
		}
		.error {
		    @apply text-sm text-red-700 py-2;
		}
	    }
	    .toolbar {
		@apply flex flex-row flex-wrap justify-center;
                .button {
		    @apply flex-none cursor-pointer text-white bg-purple-600;
                }
                .button-danger {
		    @apply bg-red-600;
                }
	    }
	    .roster-panel {
		@apply mb-2;
		ul.roster {
		    @apply inline;
		    li {
			@apply inline text-yellow-200 whitespace-nowrap;
		    }
		    li.me {
			@apply text-green-200;
		    }
		    li::before {
			@apply text-gray-400;
			content: "@";
		    }
		}
	    }
	    .panel {
		@apply flex flex-col px-2 py-2 bg-gray-200 text-black;
		h3 {
		    @apply text-2xl mb-2 leading-relaxed;
		}
		h4 {
		    @apply mb-1 leading-relaxed;
		}
		hr {
		    @apply border-t-2 border-gray-400;
		}
	    }
	    .wrapper {
		.panel {
		    @apply hidden;
		}
	    }
	    .write {
		form {
		    @apply p-0;
		    .compose {
			@apply flex-grow resize-none text-black;
		    }
		}
	    }
	    .transcript {
		@apply py-2 flex flex-col;
		.message {
		    @apply rounded text-black p-1 mb-2;
		    .meta {
			@apply text-gray-500 text-sm;
		    }
		    .content {
			h1 {
			    @apply text-xl mb-1 leading-relaxed;
			}
			h2 {
			    @apply text-lg mb-1 leading-relaxed;
			}
			p {
			    @apply mb-2;
			}
			ol {
			    @apply mb-2 pl-2 list-inside list-decimal;
			}
			ul {
			    @apply mb-2 pl-2 list-inside list-disc;
			}
			table {
			    @apply mb-2 border-collapse;
			}
			blockquote {
			    @apply mb-2 border-l-4 border-gray-400 py-3 px-2;
			}
			pre {
			    @apply mb-2 border-l-4 border-purple-500 bg-gray-100 p-2;
			    > code {
				@apply whitespace-pre;
			    }
			}
			code {
			    @apply bg-gray-100 whitespace-nowrap;
			}
			dd,
			dt,
			li {
			    @apply mb-1;
			}
		    }
		}
		.user_message {
		    @apply bg-yellow-200;
		}
		.self_message {
		    @apply bg-green-200;
		}
		.system_message {
		    @apply bg-gray-200;
		}
	    }
	}
	.footer {
	    @apply text-sm text-gray-700 p-2 flex text-center;
	    .links {
		@apply w-1/2 text-left;
	    }
	    .copyright {
                @apply w-1/2 text-right;
            }
	}
    }
    @screen md {
	.viewport {
            @apply max-w-screen-md mx-auto;
	}
    }
    @screen lg {
	.viewport {
            @apply max-w-screen-lg;
 	}
    }
    @screen xl {
	.viewport {
            @apply max-w-screen-xl;
	}
    }
}
